.slide-left-leave-active,
  .slide-left-enter-active {
    transition: 1s;
  }
  .slide-left-enter {
    transform: translate(100%, 0);
  }
  .slide-left-leave-to {
    transform: translate(-100%, 0);
  }
    .slide-right-leave-active,
  .slide-right-enter-active {
    transition: 1s;
  }
  .slide-right-enter {
    transform: translate(-100%, 0);
  }
  .slide-right-leave-to {
    transform: translate(100%, 0);
  }